<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-5">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <div style="text-align: center;">
            <h4 style="text-decoration: underline;">Error</h4>
            <p class="mt-3"><%= err.message  %></p>
        </div>
    </div>
</div>
