<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h1 class="mt-3 mb-3">Welcome to the home page of WanderLust</h1>
    <br>
    <a href="/listings" class="btn btn-primary home-btn">See All Listings</a>
</body>