<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new user</title>
    <style>
        h2, input, button {
            margin: 1px 5px;
        }
    </style>
</head>
<body>
    <h2>Add a new user</h2>
    <form method="post" action="/user">
        <br>
        <input type="text" name="username" placeholder="Enter username" required>
        <br>
        <input type="emai" name="email" placeholder="Enter email" required>
        <br>
        <input type="password" name="password" placeholder="Enter password" required>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>